@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
    color: rgb(51, 22, 1);
}

.color {
    color: rgb(51, 22, 1);
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.gap {
    gap: 5px;
}

.gap-2 {
    gap: 10px;
}

.gap-3 {
    gap: 30px;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.col {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 22%;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.mh-3 {
    margin: 0px 5px;
}

.mh-4 {
    margin: 0px 10px;
}

.mv-5 {
    margin: 5px 0px;
}

.mv-6 {
    margin: 10px 0px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.pv-3 {
    padding: 5px 0px;
}

.pv-4 {
    padding: 10px 0px;
}

.ph-5 {
    padding: 0px 5px;
}

.ph-6 {
    padding: 0px 10px;
}

.size-1 {
    font-size: 18px;
    font-weight: 400;
}

.border-r {
    border-radius: 30px;
}

.color-white {
    color: white;
}

.white {
    color: rgb(174, 171, 171);
}

.container-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #514444;
}

.container {
    max-width: 1320px;
    background-color: #EACDBD;
}

section {
    width: 100%;
}

section1 {
    width: 100%;
}

section2 {
    width: 100%;
}

section3 {
    width: 100%;
}

.hero {
    position: relative;
    height: 100%;
    width: 100%;
}

.hero img {
    position: relative;
}


nav {
    width: 100%;
}

nav a {
    display: flex;
    flex-wrap: wrap;
}

.hero .shop-nav-btn {
    padding: 10px 15px;
    border-radius: 20px;
    position: absolute;
    top: 51%;
    left: 5%;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    display: block;
    border: none;
}

.top-coffee {
    width: 100%;
    margin: 24px 0px;
}

.blur-effect {
    position: relative;
}

.blur-effect img {
    display: block;
}

.blur-effect::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
}

.coffee-text {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 30%;
    transform: translate(-50% -20%);
    gap: 40px;
}

.milk-box {
    width: 80%;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding-bottom: 10px;
    margin: 10px;
    scrollbar-width: none;
}

.milk-box-1 {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px 24px;
    gap: 10px;
    border-radius: 20px;
    flex-shrink: 0;
    width: 280px;
    height: 300px;
}

.milk-box-1 button {
    word-spacing: 5px;
    padding: 8px 15px;
    border: none;
    border-radius: 15px;
}

.buy-btn {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    color: white;
    margin: 10px;
}

.blog-box {
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 24px 0px;
    border-radius: 30px;
}

.blog-box button {
    padding: 8px 10px;
    width: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}

footer {
    width: 100%;
}

.footer-color {
    background-color: #1E1E1E;

}

footer a {
    color: #c5ab9d;
    margin: 10px;
}

.hr {
    padding: 1px;
    background-color: white;
    margin-top: 20px;
    width: 85%;
}

.data-line {
    background-color: #7F6459;
    height: 60px;
    color: white;
    width: 80%;
}

@media (max-width:1400px) {

    .container {
        max-width: 1320px;
    }

}

@media (max-width:1200px) {

    .container {
        max-width: 1140px;
    }

    .hero .shop-nav-btn {
        position: absolute;
        top: 51%;
        left: 5%;
    }

    .col-2 {
        width: 60%;
    }

    .milk-box {
        width: 90%;
    }

}

@media (max-width:992px) {

    .container {
        max-width: 960px;
    }

    .col-2 {
        width: 75%;
    }

    .hero .shop-nav-btn {
        position: absolute;
        top: 51%;
        left: 5%;
    }

    .top-coffee {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .blog-box {
        width: 50%;
        margin: 10px;
        flex-wrap: wrap;
    }
}

@media (max-width:768px) {

    .col-2 {
        width: 100%;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .hero .shop-nav-btn {
        position: absolute;
        top: 51%;
        left: 5%;
        padding: 8px 12px;
        font-size: 14px;
    }

    .top-coffee {
        flex-wrap: wrap;
        align-items: center;
    }

    .blog-box {
        flex-wrap: wrap;
        width: 40%;
        margin: 10px;
    }

    section3 .d-flex {
        flex-wrap: wrap;
    }

    footer>div:nth-child(2) {
        width: 100%;
    }

    .col-4 {
        width: 80%;
        text-align: center;
    }

    .data-line {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
        padding: 15px;
    }


}

@media (max-width:576px) {

    .container {
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        font-size: 15px;
    }

    nav img {
        width: 70px;
        height: 70px;
    }

    .size-1 {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .hero .shop-nav-btn {
        position: absolute;
        top: 51%;
        left: 4%;
        font-size: 8px;
        padding: 5px;
    }
    
    .top-coffee img {
        width: 220px;
        height: 220px;
        
    }

    .milk-box-1 {
        width: 240px;
    }

    .blog-box {
        width: 60%;
    }

    .blog-box img {
        width: 100%;
        height: 150px;
    }

    footer>div:nth-child(2) {
        width: 100%;
        flex-wrap: wrap;
    }

    .col-4 {
        flex-wrap: wrap;
        width: 100%;
    }

    .data-line {
        flex-wrap: wrap;
        text-align: center;
    }


}