* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.box {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: azure;
}

.box-row {
    display: flex;
    flex-wrap: wrap;
}

.edu-col {
    width: 100%;
}

.skill-col {
    width: 100%;
}

.col {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 15%;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.font-weight-1 {
    font-weight: 600;
}

.m-1 {
    margin: 4px;
}

.m-2 {
    margin: 8px;
}

.mh-3 {
    margin: 0px 10px;
}

.mv-4 {
    margin: 4px 0px;
}

.mv-5 {
    margin: 8px 0px;
}

.mv-6 {
    margin: 12px 0px;
}

.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.ph-1 {
    padding: 0px 4px;
}

.ph-2 {
    padding: 0px 8px;
}

.pv-1 {
    padding: 4px 0px;
}

.pv-2 {
    padding: 8px 0px;
}

.container-parent {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 1320px;
}

nav {
    background-color: rgb(251, 244, 234);
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.edu-box {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

.skills-box {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
}

@media (min-width: 576px) {
    .container {
        width: 100%;
    }

    .edu-col {
        width: 100%;
        align-items: center;
    }
     .skill-col {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 540px;
    }

    .edu-col {
        width: 46%;
    }
    .skill-col {
        width: 30%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 720px;
    }

    .edu-col {
        width: 30%;
    }
     .skill-col {
        width: 18%;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }

    .edu-col {
        width: 30%;
    }
    .skill-col {
    width: 15%;
}
}

@media (min-width: 1400px) {
    .container {
        width: 1140px;
    }

    .edu-col {
        width: 30%;
    }

    .skill-col {
        width: 15%;
    }
}